<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.mapper.DepartmentMapper">

    <select id="getDepartments" resultType="department">
        SELECT * FROM department
    </select>

    <insert id="addDepartment" parameterType="department" useGeneratedKeys="true" keyProperty="deptId">
        INSERT INTO department VALUES (default,#{deptName},#{createTime})
    </insert>
    
    <update id="updateDepartment" parameterType="department">
        UPDATE department
        <set>
            <if test="deptName!=null">dept_name=#{deptName},</if>
            <if test="createTime!=null">create_time=#{createTime}</if>
        </set>
        WHERE dept_id=#{deptId}
    </update>
    
    <delete id="deleteDepartmentByDeptId" parameterType="int">
        DELETE FROM department WHERE dept_id=#{deptId}
    </delete>
    
    <select id="getDepartmentByDeptId" resultType="department">
        SELECT * FROM department WHERE dept_id=#{deptId}
    </select>
</mapper>